<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.bilac.tcm.cidadeiluminada" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="ANDROID.PERMISSION.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:logo="@drawable/cidadeiiuminada_logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Holo.Light">

        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DATABASE"
            android:value="cidadeiluminada" />
        <meta-data
            android:name="VERSION"
            android:value="3"/>
        <meta-data
            android:name="DOMAIN_PAKAGE_NAME"
            android:value="br.com.bilac.tcm.cidadeiluminada.models" />
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDa6X_wTRG993CeCQuSmw8XM5tDjDGYmcQ" />
        <!-- CE:9C:BD:C4:96:FB:74:24:35:7C:48:91:D4:8E:3B:2C:F1:CB:6F:A9 -->
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activities.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
        </activity>

        <activity
            android:name=".protocolos.activities.ProtocoloActivity"
            android:label="@string/title_activity_protocolo"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="stateUnchanged">


            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>

        <activity
            android:name=".ConfigureActivity"
            android:label="Configurações"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme" />


        <activity
            android:name=".protocolos.activities.ProtocolosListaActivity"
            android:label="@string/title_activity_protocolos_lista"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.MainActivity" />
        </activity>


        <activity android:name=".protocolos.activities.ProtocoloDetalheActivity"
            android:label="@string/title_activity_protocolo_detalhe"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                 android:value=".activities.MainActivity"  />
        </activity>

        <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bilac.tcm.cidadeiluminada.activities.MainActivity"
                android:theme="@style/AppTheme"/>
            <activity
            android:name=".activities.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName=".activities.MainActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="ANDROID.INTENT.ACTION.MANAGE_NETWORK_USAGE"/>
                <category android:name="ANDROID.INTENT.CATEGORY.DEFAULT"/>
            </intent-filter>
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.bilac.tcm.cidadeiluminada.activities.MainActivity" />
        </activity>
    </application>

</manifest>
